:root {
  --primary-pink: #f2bc94;

  --primary-yellow: #f4af1b;
  --secondary-yellow: #ffd700;
  --tertiary-yellow: #f9e574;

  --primary-blue: #00154f;

  --primary-black: #000000;
  --secondary-black: #4d4d4e;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: var(--secondary-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-blue);
  overflow: hidden;
  display: block;
  background-image: url(../src/assests/images/bg-texture.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}